body {
    font-family: 'Open Sans', sans-serif !important;
}

.table {
  border: 1px solid #d9d9d9 !important;
  text-align: left !important;
}

.navbar-custom {
    color: #FFFFFF !important;
    background-color: #033049 !important;
    margin: 0 !important;
    padding: 0 !important;
}

a {
  color: #FFFFFF !important;
  background-color: #033049 !important;
}

a:hover {
  color: #bfbfbf !important;
}

hr {
  padding: 0 !important;
  margin: 0 !important;
}

.jumbotron {
  border-radius: 6px;
  padding: 40px;
  font-size: 5;
}

.j-title {
  text-indent: 40px;
}

.small {
  width:15%;
  margin-left:auto;
  margin-right:auto;
}

.scrollable {
  height:72vh;
  overflow-y: scroll;
}

.clean {
  width: 100vw;
}

.feedback_option {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

}

.bg-danger {
  background-color: #f2dede;
}

.bg-success {
  background-color: #dff0d8;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.mb {
  width: auto !important;
  display: inline-block;
  max-width: 55%;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 5px;
  overflow: hidden;
}

.bg-active {
  background-color: #3071a9;
  color: white;
  margin-left:auto !important;
  margin-right:0 !important;
  float: right;
  text-align: left;
}

.contain {
  width: 100%;
  overflow: hidden;
  /* background-color: yellow; */
}
