body {
    font-family: 'Open Sans', sans-serif !important;
}

.table {
  border: 1px solid #d9d9d9 !important;
  text-align: left !important;
}

.navbar-custom {
    color: #FFFFFF !important;
    background-color: #054a71 !important;
    margin: 0 !important;
    padding: 0 !important;
}

hr {
  padding: 0 !important;
  margin: 0 !important;
}

.jumbotron {
  border-radius: 6px;
}

p {
  text-indent: 40px;
}
